* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-width: 0;
	min-height: 0;
}

:root {
	--height-header: 5rem;

	--hue-color: 220;
	--first-color: hsl(239, 69%, 61%);
	--first-color-second: hsl(239, 69%, 78%);
	--first-color-alt: hsl(239, 57%, 53%);
	--first-color-light: hsl(239, 92%, 85%);
	--title-color: hsl(239, 8%, 15%);
	--text-color: hsl(239, 8%, 45%);
	--text-color-light: hsl(239, 8%, 65%);
	--input-color: hsl(239, 70%, 96%);
	--body-color: hsl(239, 69%, 99%);

	--mb-0-25: 0.25rem;
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;
}
::-webkit-scrollbar {
	width: 10px;
	position: absolute;
	right: 0;
	top: 0;
}
::-webkit-scrollbar-track {
	background: var(--first-color-light);
	border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--first-color);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--first-color-alt);
}
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.category-item {
	font-size: 1.75rem;
	margin-bottom: 1.2rem;
	cursor: pointer;
	opacity: 0.5;
}
.category-item.active {
	position: relative;
	opacity: 1;
}
.category-item.active::after {
	content: "";
	height: 1px;
	position: absolute;
	width: 100%;
	border-radius: 1px;
	background-color: #000;
	top: 100%;
	left: 0;
}
